weekend-yellow = #ffd400

body
  background-color weekend-yellow
  text-align center

#weekend
  width 600px
  height 600px
  position absolute
  top 50%
  left 50%
  margin -300px 0 0 -300px
  padding 0

  1h
    dislpay block

    img
      width 160px
