weekend-yellow = #ffd400

html, body
  margin 0
  padding 0

body
  background-color weekend-yellow
  text-align center
  #weekend
    h1
      position absolute
      padding 0
      top 50%
      left 50%
      margin -85px 0 0 -72px
      img
        width 144px
        height 170px
