@import 'nib'

weekend-yellow = #ffd400
weekend-black = #333330
font = 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif

html, body
  margin 0
  padding 0

body
  background-color weekend-yellow
  text-align center
  font-family font
  #weekend
    h1
      position absolute
      padding 0
      top 50%
      left 50%
      margin -85px 0 0 -72px
      cursor pointer
      #logo
        width 144px
        height 170px
      #count
        -webkit-tap-highlight-color rgba(0,0,0,0)
        tap-highlight-color rgba(0,0,0,0)
        color weekend-black
        overflow ellipsis
        font-size 36px
        position absolute
        text-align center
        width 144px
        line-height 128px
        top 0
        left 0

